name: terraform apply

on:
    workflow_dispatch:

jobs:
    terraform-apply:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5 
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
               role-to-assume: arn:aws:iam::12353464364:role/GhaOIDCRole
               aws-region: eu-central-1

            - name: Set up Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.7.6 
            - run: terraform init

            - name: Terraform Plan
              run: terraform plan 
              env:
                TF_VAR_rds_password: ${{ secrets.DB_PASSWORD }}
                TF_VAR_api_key: ${{ secrets.API_KEY }}

            - name: Terraform Apply
              run: terraform apply -auto-approve
              env:
                    AWS_REGION: eu-central-1
              